BOT_TOKEN='token-from-botfather'
GIS_TOKEN='token-for-gismeteo-api'
YA_TOKEN='token-for-yandex-weather'
OP_TOKEN='token-for-openweather'

MONGO_URL=mongodb://root:pass@mongodb:27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=pass

ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=pass
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
