[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jsonrpc-server = "==0.4.0"
requests = "==2.24.0"
pyTelegramBotAPI = "==3.7.3"
python-dotenv = "*"
pydantic = "*"
motor = "*"
aiogram = "*"

[dev-packages]

[requires]
python_version = "3.9"
